@font-face {
  font-family: 'Source Sans Pro';
  src: url("font/SourceSansPro-Regular.ttf");
}

@font-face {
  font-family: 'Fira Code';
  src: url("font/FiraCode-VariableFont_wght.ttf");
}

@font-face {
  font-family: 'Open Sans';
  src: url("font/OpenSans-Regular.ttf");
}

body {
  background-color: #1E1E1E;
  font-family: 'Open Sans';
  margin: auto;
}

#scroll-down-icon {
  color: #CE9178;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  width: 200px;
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, transform 1s;
  transition: opacity 1s, transform 1s, -webkit-transform 1s;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#front {
  background-color: #4D4D4D;
  font-family: 'Fira Code';
  text-align: left;
}

#front-background {
  width: 100%;
  height: 100vh;
}

#front-1 {
  fill: #3D3D3D;
}

#front-2 {
  fill: #343434;
}

#front-3 {
  fill: #262626;
}

#front-4 {
  fill: #1E1E1E;
}

#front__text {
  position: absolute;
  left: 30px;
  color: white;
  font-size: 15vh;
  margin: 15vw;
  margin-top: 30vh;
  padding-left: 5vh;
}

#intro {
  color: #858585;
  font-family: "Fira Code";
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

#intro__text {
  max-width: 300px;
  margin-left: 30px;
}

#intro__img {
  -webkit-filter: grayscale(50%);
          filter: grayscale(50%);
  -webkit-box-shadow: 0 7px 10px #00000080;
          box-shadow: 0 7px 10px #00000080;
  -webkit-transition: -webkit-filter 0.5s;
  transition: -webkit-filter 0.5s;
  transition: filter 0.5s;
  transition: filter 0.5s, -webkit-filter 0.5s;
}

#intro__img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.comment {
  color: #6A9955;
  font-family: 'Fira Code';
  font-size: 20px;
  text-align: left;
  padding-bottom: 10px;
}

#front__comment {
  visibility: hidden;
  margin-top: 10px;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, transform 1s;
  transition: opacity 1s, transform 1s, -webkit-transform 1s;
  opacity: 0;
}

.comment-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10%;
}

#about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 0;
}

#about__me {
  font-family: 'Open Sans';
  background-color: #262626;
  max-width: 500px;
  color: #CCCCCC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: baseline;
      align-self: baseline;
  margin-bottom: 5%;
}

#about__skills {
  font-family: 'Open Sans';
  background-color: #262626;
  width: 200px;
  color: #CCCCCC;
  margin-left: 30px;
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: baseline;
      align-self: baseline;
  margin-bottom: 5%;
}

.about__me__title {
  color: white;
  font-size: 18px;
  background-color: #343434;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .25em;
  padding-left: .5em;
}

.icon {
  display: inline-block;
}

.pointer-icon {
  height: .7em;
  width: .7em;
  background-size: .7em .7em;
  background-image: url("icons/pointer.png");
  background-repeat: no-repeat;
}

.about__me__description {
  font-size: 15px;
  -webkit-box-shadow: inset 0 7px 9px -7px #00000080;
          box-shadow: inset 0 7px 9px -7px #00000080;
  padding: 15px;
}

.about__me__description__emphasis {
  font-family: 'Fira Code';
  display: inline-block;
  color: #BDFFF7;
}

.about-list {
  margin: 10px;
  padding: 0;
}

.skills-list {
  opacity: 0.5;
}

.json {
  color: white;
  background-color: #262626;
  border-top: 1.5px solid #262626;
  -webkit-box-shadow: inset 0 7px 9px -7px #00000080;
          box-shadow: inset 0 7px 9px -7px #00000080;
  padding: 10px;
}

.json__object, .json__array, .json__array__object {
  padding-left: 2em;
  border-left: 1.5px solid #4D4D4D;
}

.json__object__name {
  color: #9CDCFE;
  display: inline-block;
}

.json__array__name {
  color: #9CDCFE;
  display: inline-block;
}

.json__array__object {
  color: #CE9178;
  display: inline-block;
}

#portfolio {
  height: auto;
  width: 100%;
  margin: auto;
  text-align: center;
}

#projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project {
  color: white;
  font-family: 'Open Sans';
  width: 250px;
  height: 350px;
  background-color: #262626;
  background-image: url("svg/popup.svg");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 75px 75px;
}

.project-image {
  background-size: 250px 350px;
  width: 250px;
  height: 350px;
  -webkit-filter: grayscale(50%) brightness(0.8);
          filter: grayscale(50%) brightness(0.8);
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}

.project-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px;
  -webkit-box-shadow: 0 1px 2px #00000080;
          box-shadow: 0 1px 2px #00000080;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.project__icon {
  width: 3em;
  height: 3em;
}

.project__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px;
  margin-right: 30px;
}

.project__title__text {
  font-family: 'Source Sans Pro';
  font-weight: 900;
  font-size: 18px;
  text-align: left;
  margin: 15px;
}

.project__description {
  color: #CCCCCC;
  text-align: left;
  font-size: 14px;
  margin: 20px;
  margin-top: 10px;
}

.project__skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.project__skills__item {
  font-family: 'Fira Code';
  font-size: 14px;
  color: #858585;
  margin: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

.project-box:hover {
  cursor: pointer;
  -webkit-transform: translate(0, -5px);
          transform: translate(0, -5px);
}

/* The Modal (background) */
#project__modal {
  visibility: hidden;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  background-color: rgba(0, 0, 0, 0.5);
  /* Black w/ opacity */
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  opacity: 0;
}

/* Modal Content */
.project__modal__content {
  background-color: #b1b1b1;
  font-family: 'Open Sans';
  font-size: 13px;
  text-align: left;
  border: 1px solid #888;
  margin: auto;
  margin-top: 5vh;
  width: 80vw;
  height: 90vh;
  overflow-y: scroll;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  opacity: 0;
  visibility: hidden;
}

.project__modal__content__info {
  background-color: #fafafa;
  -webkit-box-shadow: 0 5px 10px #00000080;
          box-shadow: 0 5px 10px #00000080;
  width: 80%;
  padding: 5%;
  margin: 3%;
}

.project__modal__content__info__title {
  font-size: 30px;
  font-weight: 800;
  border-bottom: 1px solid #000;
  padding-bottom: 5px;
}

.project__modal__content__info__paragraphs {
  padding-top: 1%;
}

/* The Close Button */
.close {
  position: absolute;
  top: 5vh;
  left: 11vw;
  color: #585858;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.bit-inspector__popup-image {
  border-bottom: 1px solid #000;
  width: 50vw;
  margin-bottom: 0;
  padding-bottom: 1vw;
}

.family-map__popup-image-container {
  border-bottom: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.family-map__popup-image {
  -webkit-box-shadow: 0 1px 2px #00000080;
          box-shadow: 0 1px 2px #00000080;
  height: 75vh;
  margin-bottom: 0;
  margin-bottom: 3vh;
}

.popup-image-text {
  font-style: italic;
  font-size: 15px;
  opacity: 0.8;
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 2vw;
}

.c-programming-project-video {
  border-bottom: 1px solid #000;
  text-align: center;
  width: 75%;
  padding: 15px;
  margin: auto;
}

#experience {
  color: white;
  text-align: center;
  background-color: #262626;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  max-width: 700px;
  margin: auto;
}

#experience__list {
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.experience__list__item {
  width: 120px;
  height: 50px;
  padding: 10px;
  background-color: #343434;
  opacity: 0.5;
  text-align: left;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: opacity 0.2s, -webkit-box-shadow 0.2s;
  transition: opacity 0.2s, -webkit-box-shadow 0.2s;
  transition: opacity 0.2s, box-shadow 0.2s;
  transition: opacity 0.2s, box-shadow 0.2s, -webkit-box-shadow 0.2s;
}

.experience__description__title {
  color: #9CDCFE;
  font-size: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.experience__description__title__location {
  color: #858585;
  font-size: 15px;
  font-family: 'Fira Code';
  margin-left: 10px;
}

.experience__description__dates {
  color: #858585;
  font-family: 'Fira Code';
}

.experience__description__paragraph {
  margin: 1em;
  font-size: 15px;
}

.experience__description {
  color: #CCCCCC;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin: 15px;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  max-width: 550px;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

#contact-list {
  text-align: center;
}

.contact-list__icon {
  margin: 20px;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  cursor: pointer;
}

.contact-list__icon:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#bottom-background {
  width: 100%;
  height: 0;
}

#bottom {
  fill: #262626;
}

#bottom-resume-link {
  font-size: 25px;
  color: #8F8F8F;
  text-align: center;
  margin-bottom: 30px;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

#bottom-resume-link:hover {
  color: #CCCCCC;
}

#bottom-text {
  color: #858585;
  text-align: center;
}

@media screen and (max-width: 800px) {
  #front__text {
    font-size: 40px;
    display: inline-block;
    margin: 10vw;
    margin-top: 30vh;
    padding-left: 5vh;
  }
  #intro__img {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
  }
  .project-image {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
  }
  .project-box {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    width: 250px;
  }
  .project__modal__content {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  .close {
    left: 3vw;
  }
  .experience__description__paragraph {
    font-size: 13px;
  }
  #skills-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: column;
        flex-wrap: column;
  }
  #about__skills {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
/*# sourceMappingURL=main.css.map */